/* Fonts */

@import url("http://fonts.googleapis.com/css?family=Asul:400,700|Karla:400,400italic,700,700italic");

/* Base */

@import "normalize.css";
@import "suitcss-base";

@import "base";

/* Components */

/* ... */

/* Utilities */

/* ... */

/* Config */

:root {
  --base-font-family: "Karla", "Verdana", "Geneva", "sans-serif";
  --base-font-family-alt: "Asul", "Karla", "Verdana", "Geneva", "sans-serif";
  --base-font: normal normal normal 16px/1.5 var(--base-font-family);
  --base-color: #222;
}