/* Fonts */

@import url("http://fonts.googleapis.com/css?family=Asul:400,700|Karla:400,400italic,700,700italic");

/* Base */

@import "normalize.css";
@import "suitcss-base";

@import "base";

/* Components */

@import "components/type";

/* Utilities */

@import "suitcss-utils-display";
@import "suitcss-utils-layout";
@import "suitcss-utils-size";
@import "suitcss-utils-text";

@import "utilities/misc";

/**
 * Config
 */

/* Global props */

:root {
  --color-link: blue;
  --color-text: #222;

  --font-family: "Karla", "Verdana", "Geneva", "sans-serif";
  --font-family-alt: "Asul", "Karla", "Verdana", "Geneva", "sans-serif";
  --font-size: 16px;
  --line-height: 1.5;
}

/* Breakpoints */

@custom-media --xs-viewport  (width >= 330px);
@custom-media --sm-viewport  (width >= 460px);
@custom-media --md-viewport  (width >= 760px);
@custom-media --lg-viewport  (width >= 1000px);
@custom-media --xl-viewport  (width >= 1260px);

@custom-media --xs-max-viewport  (width <= 329px);
@custom-media --sm-max-viewport  (width <= 459px);
@custom-media --md-max-viewport  (width <= 759px);
@custom-media --lg-max-viewport  (width <= 999px);
@custom-media --xl-max-viewport  (width <= 1259px);
