html {
  height: 100%;
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 1.5;
  color: var(--color-text);
  background: white;
}

img {
  max-width: 100%;
}

form {
  margin: 0;
}

/**
 * Remove some default styles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: inherit;
  outline: 0;
}

/**
 * Fix browser inconsistencies
 */

:disabled {
  color: inherit;
  opacity: 1;
  -webkit-text-fill-color: currentColor;
}

::placeholder {
  opacity: 1;
}
