html {
  height: 100%;
  font: normal normal normal var(--font-size)/var(--line-height) var(--font-family);
  color: var(--color-text);
  background: white;
}

/**
 * Remove some default styles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: inherit;
  outline: 0;
}