.Article {

}


.Article-main {
  overflow: hidden;
  position: relative;
}

/* Without aside */

.Article--full {
  max-width: 600px;
  margin: 0 auto;
}

@media (--md-viewport) {
  .Article--full {
    max-width: 600px;
    padding-right: 100px;
    margin: 0 auto;
  }
}

/**
 * Primary photo
 */

.Article-photo {
  max-width: 100%;
  max-height: 95vh;
  vertical-align: bottom;
  margin: 0 auto;
  display: block;
}

@media (--sm-viewport) {
  .Article-photo {
    margin: 0;
  }
}

/**
 * Main and aside/action layout
 */

.Article-aside {
  text-align: center;
  margin-top: 30px;
}

.Article-actionInline {
  /* action on narrow viewports */
  float: left;
  margin: 0px 15px 0px 0;
}

.Article-actionLarge {
  /* action on wide viewports */
  display: none;
}

@media (--sm-viewport) {
  .Article:not(.Article--full) .Article-main {
    width: 64%;
    float: left;
  }

  .Article-aside,
  .Article-actionLarge {
    width: 31%;
    float: right;
    margin-top: 72px;
    text-align: left;
  }

  .Article-actionInline {
    display: none !important;
  }

  .Article-actionLarge {
    margin-top: 150px;
    display: block;
  }
}

@media (--md-viewport) {
  .Article-aside {
    width: 24%;
  }

  .Article-actionLarge {
    margin-left: 4%;
  }
}

/**
 * Toggle content height
 */

.Article.is-collapsed .Article-main {
  max-height: calc(500px + 80px);
}

@media (--md-viewport) {
  .Article.is-collapsed .Article-main {
    max-height: calc(400px + 80px);
  }
}

.Article.is-collapsed .Article-actionInline {
  display: none;
}

.Article.is-collapsed .Article-ending {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  display: block;
  padding-top: 28px;
  text-align: left;
  will-change: transform;
}

.Article.is-collapsed .Article-ending:before {
  content: "";
  height: 100%;
  width: 110%;
  background-color: black;
  position: absolute;
  top: 35%;
  left: -5%;
  transform: rotate(5deg);
  transform-origin: top center;
  background-color: #fff;
  border-top: 1px solid #dedede;
  will-change: transform;
}

.Article.is-collapsed .Article-ending:hover:before {
  transform: translateY(10%) rotate(5deg);
}

.Article.is-collapsed .Article-showMore {
  position: relative;
}

@media (--sm-viewport) {
  .Article.is-collapsed .Article-showMore {
    font-size: 18px;
  }
}

/* Expand animation */

.Article:not(.is-notTransitioning) .Article-main {
  transition: max-height 0.5s ease;
}

.Article:not(.is-notTransitioning) .Article-ending {
  transition: transform 0.5s ease-in;
}

.Article:not(.is-notTransitioning) .Article-ending:before {
  transition: transform 0.2s ease;
}

/* Expanded state */

html.no-script .Article-main,
.Article--full .Article-main,
.Article:not(.is-collapsed) .Article-main {
  /* Set using javascript, if enabled */
  max-height: none;
}

html.no-script .Article-actionInline,
.Article--full .Article-actionInline,
.Article:not(.is-collapsed) .Article-actionInline {
  display: block;
}

html.no-script .Article-ending,
.Article--full .Article-ending,
.Article:not(.is-collapsed) .Article-ending {
  transform: translateY(70px) rotate(0);
}

html.no-script .Article-ending:before,
.Article--full .Article-ending:before,
.Article .Article-ending:before {
  transform: rotate(0);
}
