.Banner {
  height: 350px;
  overflow: hidden;
  position: relative;
  transition: height 0.5s ease;
  user-select: none;
  width: 100%;
}

@media (--sm-viewport) {
  .Banner { height: 450px; }
}

@media (--md-viewport) {
  .Banner { height: 550px; }
}

@media (--lg-viewport) {
  .Banner { height: 600px; }
}

.Banner-background {
  background-position: center center;
  background-size: cover;
  height: 117%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}

/**
 * `transform: translate` seem to isolates the blend-modes.. Let's go with
 * `inline-block` for centering instead.
 */

.Banner {
  font-size: 0;
  text-align: center;
}

.Banner::before {
  content: "";
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: middle;
  z-index: 10;
}

.Banner-content {
  display: inline-block;
  font-size: 1rem;
  max-width: 500px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 80%;
}

@media (--lg-viewport) {
  .Banner-content {
    max-width: 600px;
  }
}
