.Button {
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: var(--font-family-alt);
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  height: 120px;
  letter-spacing: -1px;
  line-height: 120px;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  overflow: hidden;
  shape-outside: circle();
  text-align: center;
  transition: transform 0.15s ease;
  vertical-align: bottom;
  width: 120px;
}

.Button:hover,
.Button:focus,
.Button:active {
  background: var(--color-pink);
  color: var(--color-purple);
}

.Button:active {
  transform: scale(0.9);
  transition: none;
}

@media (--sm-viewport) {
  .Button {
    font-size: 32px;
    height: 140px;
    line-height: 140px;
    width: 140px;
  }
}

@media (--md-viewport) {
  .Button {
    font-size: 36px;
    height: 190px;
    line-height: 190px;
    width: 190px;
  }
}

/**
 * Themes
 */

.Button--blue {
  background: #61c6ce;
  background-image: linear-gradient(to right, #154c78 0%, #61c6ce 100%);
  color: var(--color-pink);
}

.Button--blue:hover,
.Button--blue:focus,
.Button--blue:active {
  background: var(--color-pink);
  color: var(--color-purple);
}

.Button--pink {
  background: var(--color-pink);
  background-image: linear-gradient(to right, #6c8bfc 0%, var(--color-pink) 100%);
  color: #fff;
}

.Button--pink:hover,
.Button--pink:focus,
.Button--pink:active {
  background: var(--color-red);
  color: #fff;
}
