.Button {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  vertical-align: bottom;
  border-radius: 50%;
  outline: 0;
  text-align: center;
  line-height: 120px;
  font-size: 24px;
  letter-spacing: -1px;
  font-family: var(--font-family-alt);
  transition: transform .15s ease;
  shape-outside: circle();
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.Button:hover,
.Button:focus,
.Button:active {
  color: var(--color-purple);
  background: var(--color-pink);
}

.Button:active {
  transform: scale(0.9);
  transition: none;
}

@media (--sm-viewport) {
  .Button {
    width: 140px;
    height: 140px;
    line-height: 140px;
    font-size: 32px;
  }
}

@media (--md-viewport) {
  .Button {
    width: 190px;
    height: 190px;
    line-height: 190px;
    font-size: 36px;
  }
}

/**
 * Themes
 */

.Button--blue {
  color: var(--color-pink);
  background: #61c6ce;
  background-image: linear-gradient(to right, #154c78 0%, #61c6ce 100%);
}

.Button--blue:hover,
.Button--blue:focus,
.Button--blue:active {
  color: var(--color-purple);
  background: var(--color-pink);
}


.Button--pink {
  color: var(--color-red);
  background: var(--color-pink);
  background-image: linear-gradient(to right, #6c8bfc 0%, var(--color-pink) 100%);
}

.Button--pink:hover,
.Button--pink:focus,
.Button--pink:active {
  color: #6c8bfc;
  background: var(--color-red);
}
