.Calendar {
  color: var(--color-blue);
  isolation: isolate;
}

.Calendar-heading {
  margin-bottom: 25px;
  text-align: center;
}

@media (--sm-viewport) {
  .Calendar {
    margin-bottom: 20px;
  }

  .Calendar-heading {
    margin-bottom: 30px;
    padding-left: 38px;
    text-align: left;
  }
}

@media (--md-viewport) {
  .Calendar {
    margin-bottom: -300px;
  }

  .Calendar-heading {
    margin-bottom: 46px;
    padding-left: 49px;
  }
}
