.Calendar {
  color: var(--color-blue);
  isolation: isolate;
}

.Calendar-heading {
  margin-bottom: 25px;
  text-align: center;
}

@media (--sm-viewport) {
  .Calendar {
    margin-bottom: 20px;
  }

  .Calendar-heading {
    text-align: left;
    padding-left: 38px;
    margin-bottom: 30px;
  }
}

@media (--md-viewport) {
  .Calendar-heading {
    padding-left: 49px;
    margin-bottom: 46px;
  }
}
