.Event {
  clear: both;
  display: block;
  min-height: 4em;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

/**
 * Text body with line based max-height in Webkit/Blink
 */

.Event-body {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 3;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@media (--sm-viewport) {
  .Event-body {
    padding-top: 0.45em;
  }
}

@media (--md-viewport) {
  .Event-body {
    -webkit-line-clamp: 3;
    padding-top: 0.85em;
  }
}

/**
 * Date figure
 */

.Event-figure {
  background-image: linear-gradient(to bottom, #c8e7fd 0%, #bcfdcc 100%);
  float: left;
  height: 4em;
  margin-right: 1em;
  mix-blend-mode: exclusion;
  position: relative;
  top: -0.3em;
  user-select: none;
  width: 4em;
  will-change: transform;
}

.Event-figure::before {
  background: #fff;
  content: "";
  height: 2.5em;
  left: 0;
  margin: 0.75em;
  position: absolute;
  top: 0;
  width: 2.5em;
}

.Event-month {
  line-height: 1.1;
  position: absolute;
  right: 2em;
  text-align: right;
  top: 0.5em;
}

.Event-day {
  font-family: var(--font-family-alt);
  font-size: 2em;
  font-weight: 700;
  left: 37%;
  letter-spacing: -1px;
  line-height: 1;
  position: absolute;
  top: 37%;
}

@media (--sm-viewport) {
  .Event-figure {
    font-size: 25px;
  }

  .Event-month span {
    font-size: 18px;
  }

  .Event-day {
    letter-spacing: -2px;
  }
}

@media (--md-viewport) {
  .Event-figure {
    font-size: 32px;
  }

  .Event-month {
    margin-right: 0.7em;
  }

  .Event-day {
    left: 34%;
    top: 18%;
  }
}

/**
 * Date types
 */

/* nr 2 */

.Event:nth-child(2) {
  top: -0.6em;
}

.Event:nth-child(2) .Event-figure {
  background: var(--color-yellow);
  border-radius: 50%;
}

.Event:nth-child(2) .Event-figure::before {
  content: none;
}

@media (--md-viewport) {
  .Event:nth-child(2) {
    top: -1em;
  }
}

/* nr 3 */

.Event:nth-child(3) {
  top: -1.2em;
}

.Event:nth-child(3) .Event-body {
  padding-top: 0.5em;
}

.Event:nth-child(3) .Event-figure {
  border-radius: 50%;
  height: 4.5em;
  margin-right: 0.5em;
  width: 4.5em;
}

.Event:nth-child(3) .Event-figure::before {
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.Event:nth-child(3) .Event-month {
  right: 2.5em;
  top: 1em;
}

@media (--sm-viewport) {
  .Event:nth-child(3) .Event-body {
    padding-top: 1.15em;
  }
}

@media (--md-viewport) {
  .Event:nth-child(3) {
    top: -2.6em;
  }

  .Event:nth-child(3) .Event-day {
    top: 26%;
  }

  .Event:nth-child(3) .Calendar-body {
    padding-top: 1.75em;
  }
}

/* nr 4 */

.Event:nth-child(4) {
  top: -1.8em;
}

.Event:nth-child(4) .Event-figure {
  background: var(--color-yellow);
  height: 4em;
  margin-right: 0.2em;
  width: 4.8em;
}

.Event:nth-child(4) .Event-figure::before {
  height: 2.5em;
  width: 3.3em;
}

.Event:nth-child(4) .Event-month {
  right: 2.75em;
}

@media (--md-viewport) {
  .Event:nth-child(4) {
    top: -3.9em;
  }

  .Event:nth-child(4) .Event-day {
    top: 16%;
  }
}

/**
 * Mouse states
 */

.Event-figure {
  transition: transform 0.14s ease;
}

.Event--linked:matches(:hover, :focus, :active) .Event-figure {
  transform: scale(1.2);
}

.Event--linked:matches(:hover, :focus, :active) .Event-title {
  text-decoration: underline;
}
