.Form {
  margin: 0 auto;
  max-width: 350px;
  user-select: none;
}

.Form-header {
  margin-bottom: 20px;
}

.Form-button,
.Form-field {
  appearance: none;
  background-image: linear-gradient(to bottom, #c1f3e1 0%, #c5edf0 100%);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--color-blue);
  display: block;
  font-size: 22px;
  line-height: normal;
  outline: 0;
  padding: 16px 15px;
  width: 100%;
}

.Form-field:focus {
  border: 2px solid var(--color-purple);
  padding: 14px 13px;
}

.Form-field::placeholder {
  opacity: 1;
}

.Form-button {
  background: var(--color-yellow);
  margin-top: 14px;
  text-align: left;
}

.Form-button:hover,
.Form-button:focus,
.Form-button:active {
  background: #d9f191;
  outline: 0;
  text-decoration: underline;
}
