.IconSection {
  background: #111;
  color: #fff;
  font-family: var(--font-family-alt);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.IconSection-content {
  cursor: default;
  font-size: 0;
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 0;
  text-align: center;
  width: 88%;
}

.IconSection-item {
  display: inline-block;
  font-size: 18px;
  width: 50%;
}

.IconSection-item:last-child {
  margin-top: 1em;
}

.IconSection-figure {
  display: block;
  height: 70px;
  margin: 0 auto 0.6em auto;
  width: 70px;
}

.IconSection-item:last-child .IconSection-figure {
  height: 90px;
  width: 108px;
}

@media (--sm-viewport) {
  .IconSection-content {
    padding: 50px 0;
  }

  .IconSection-item {
    width: calc(100% / 3);
  }

  .IconSection-item:last-child {
    margin-top: 0;
  }

  .IconSection-figure {
    height: 100px;
    width: 100px;
  }

  .IconSection-item:last-child .IconSection-figure {
    height: 117px;
    margin-bottom: 0.2em;
    width: 141px;
  }
}

@media (--md-viewport) {
  .IconSection-item {
    font-size: 20px;
  }

  .IconSection-figure {
    height: 115px;
    width: 115px;
  }

  .IconSection-item:last-child .IconSection-figure {
    height: 136px;
    margin-bottom: 0.1em;
    width: 180px;
  }
}
