.Knowledge {
  margin: 80px 0;
}

.Knowledge-intro {
  max-width: 620px;
  text-align: center;
  margin: 0 auto;
}

.Knowledge-begin {
  background: var(--color-orange);
  color: #fff;
  font-family: var(--font-family-alt);
  font-size: 29px;
  -webkit-font-smoothing: antialiased;
  height: 90px;
  letter-spacing: -1px;
  line-height: 90px;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  width: 240px;
  box-shadow: 15px 15px 0px 0px black;
  margin: -10px 0 30px;
}

.Knowledge-begin:hover,
.Knowledge-begin:focus,
.Knowledge-begin:active {
  background: black;
  outline: 0;
  box-shadow: 15px 15px 0px 0px var(--color-orange);
}

.Knowledge-begin:active {
}

.Knowledge-submit {
}

/**
 * Result
 */


/**
 * Questions
 */

.Knowledge-question {
  margin: 60px -10px;
}

.Knowledge-questionText {
  font-family: var(--font-family-alt);
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.8px;
  line-height: 1.48;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0 auto 34px;
  color: var(--color-blue);
  max-width: 410px;
}

.Knowledge-range {
  margin: -15px;
}

.Knowledge-question.is-visible {
}

.Knowledge-question--muted {
}

.Knowledge-explaination {
  display: inline;
  background: var(--color-yellow);
  cursor: help;
  padding: 0 2px;
  margin: 0 -2px;
  mix-blend-mode: darken;
  transition: margin 150ms ease, padding 150ms ease;
}

.Knowledge-explaination:hover,
.Knowledge-explaination:focus,
.Knowledge-explaination:active {
  padding: 14px 20px;
  margin: -14px -20px;
  outline: 0;
}

.Knowledge-question br:first-child,
.Knowledge-question br:last-child {
  display: none;
}

/**
 * Explaination info
 */

.Knowledge-explainationWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 20;
}

.Knowledge-explainationInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ccc;
  max-height: calc(100% - 30px);
  width: calc(100% - 30px);
  transform: translateX(-50%) translateY(-50%);
  padding: 30px 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  background-color: var(--color-teal);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (--sm-viewport) {
  .Knowledge-explainationInfo {
    width: 80%;
    max-width: 800px;
    max-height: 500px;
    padding: 45px;
  }
}
