.Knowledge {
  margin: 80px 0;
}

.Knowledge-intro {
  max-width: 620px;
  text-align: center;
  margin: 0 auto;
}

.Knowledge-begin {
  background: var(--color-orange);
  color: #fff;
  font-family: var(--font-family-alt);
  font-size: 29px;
  -webkit-font-smoothing: antialiased;
  height: 90px;
  letter-spacing: -1px;
  line-height: 90px;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  width: 240px;
  box-shadow: 15px 15px 0px 0px black;
  margin: -10px 0 30px;
}

.Knowledge-begin:hover,
.Knowledge-begin:focus,
.Knowledge-begin:active {
  background: black;
  outline: 0;
  box-shadow: 15px 15px 0px 0px var(--color-orange);
}

.Knowledge-begin:active {

}

.Knowledge-submit {

}

/**
 * Result
 */


/**
 * Querstions
 */

.Knowledge-question {
  margin: 60px -10px;
}

.Knowledge-questionText {

    font-family: var(--font-family-alt);
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.8px;
    line-height: 1.48;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
        margin: 0 auto 30px;
    color: var(--color-blue);
    max-width: 410px;
}

.Knowledge-range {
  margin: -15px;
}

.Knowledge-question.is-visible {
}

.Knowledge-question--muted {

}

.Knowledge-explaination {
  display: inline;
  background: var(--color-yellow);
  cursor: help;
  padding: 0 2px;
  margin: 0 -2px;
  mix-blend-mode: darken;
  transition: margin 150ms ease, padding 150ms ease;
}

.Knowledge-explaination:hover,
.Knowledge-explaination:focus,
.Knowledge-explaination:active {
  padding: 14px 20px;
  margin: -14px -20px;
  outline: 0;
}


.Knowledge-question br:first-child,
.Knowledge-question br:last-child {
  display: none;
}
