.Nav {
  box-sizing: border-box;
  width: 88%;
  max-width: 838px;
  user-select: none;
  overflow: hidden;

  position: fixed;
  top: 15px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;

  font-family: var(--font-family-alt);
  color: #000;
  background: #fff;
  white-space: nowrap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  mix-blend-mode: exclusion;

  /* Prevent inline block white-space */
  font-size: 0;
}

.Nav-home,
.Nav-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Nav-logo {
  width: 28px;
  box-sizing: border-box;
  position: absolute;
  margin: 0 14px;
  left: 0;
  top: 0;
  pointer-events: none;
}

.Nav-logo:last-child {
  left: auto;
  right: 0;
  display: none;
}

.Nav-inner {
  position: relative;
  display: inline-block;
  min-width: 100%;
  height: 0;
}

.Nav-list {
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 90px);
  margin: 0 -8px;
  height: 0;
}

.Nav-sub {
  /* Let's skip sub navigations for now */
  display: none;
}

.Nav-item {
  display: inline-block;
  font-size: 1rem;
}

.Nav-action {
  padding: 14px 12px;
  box-sizing: border-box;
  display: block;
  position: relative;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.Nav,
.Nav-logo,
.Nav-action {
  height: 52px;
}

/**
 * Scrolling
 */

.Nav-wrap {
  /* Horizontal scrolling */
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}

/* Shadows */

.Nav:before,
.Nav:after {
  content: "";
  height: 100%;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  pointer-events: none;
}

.Nav:after {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

/**
 * States
 */

.Nav:hover {
  mix-blend-mode: initial;
  background: #000;
  color: #fff;
}

.Nav:hover:before,
.Nav:hover:after {
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
}

.Nav-item.is-active .Nav-action:after {
  content: "";
  display: block;
  margin-top: -5px;
  border-bottom: 4px solid;
}

.Nav-item:not(.is-active) .Nav-action:hover,
.Nav-item:not(.is-active) .Nav-action:focus,
.Nav-item:not(.is-active) .Nav-action:active {
  text-decoration: underline;
}

/**
 * Wider viewports
 */

@media (--sm-viewport) {
  .Nav {
    width: 95%;
  }
}

@media (--md-viewport) {
  .Nav,
  .Nav-logo,
  .Nav-action {
    height: 64px;
  }

  .Nav {
    top: 25px;
  }

  .Nav-logo {
    width: 38px;
  }

  .Nav-logo:last-child {
    display: block;
  }

  .Nav-item {
    font-size: 18px;
  }

  .Nav-action {
    padding: 19px 13px;
  }
}

/**
 * Hint scrolling
 */

.Nav-inner {
  transition: transform .5s ease;
  will-change: transform;
}

.Nav.is-hintingScroll .Nav-inner {
  transform: translateX(-190px);
  transition-delay: .5s;
}
