.Nav {
  background: #000;
  box-sizing: border-box;
  color: #fff;
  font-family: var(--font-family-alt);
  font-size: 0;
  -webkit-font-smoothing: antialiased;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 838px;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  top: 15px;
  user-select: none;
  white-space: nowrap;
  width: calc(100% - 30px);
  will-change: transform;
  z-index: 20;
}

.Nav-home,
.Nav-wrap {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Nav-logo {
  box-sizing: border-box;
  left: 0;
  margin: 0 14px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 28px;
}

.Nav-logo:last-child {
  display: none;
  left: auto;
  right: 0;
}

.Nav-inner {
  display: inline-block;
  height: 0;
  min-width: 100%;
  position: relative;
}

.Nav-list {
  display: inline-block;
  height: 0;
  margin: 0 -8px;
  max-width: calc(100% - 90px);
  vertical-align: top;
}

/* Let's skip sub navigations for now */

.Nav-sub {
  display: none;
}

/* Items & actions */

.Nav-item {
  display: inline-block;
  font-size: 1rem;
}

.Nav-action {
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: 14px 12px;
  position: relative;
}

.Nav,
.Nav-logo,
.Nav-action {
  height: 52px;
}

/**
 * Horizontal scrolling
 */

.Nav-wrap {
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Shadows */

.Nav::before,
.Nav::after {
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 16px;
  z-index: 1;
}

.Nav::after {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

/**
 * States
 */

.Nav-item.is-active .Nav-action::after {
  border-bottom: 4px solid;
  content: "";
  display: block;
  margin-top: -5px;
}

.Nav-item:not(.is-active) .Nav-action:matches(:hover, :focus, :active) {
  text-decoration: underline;
}

/**
 * Wider viewports
 */

@media (--sm-viewport) {
  .Nav {
    width: 95%;
  }
}

@media (--md-viewport) {
  .Nav,
  .Nav-logo,
  .Nav-action {
    height: 64px;
  }

  .Nav {
    top: 25px;
    width: calc(100% - 50px);
  }

  .Nav-logo {
    width: 38px;
  }

  .Nav-logo:last-child {
    display: block;
  }

  .Nav-item {
    font-size: 18px;
  }

  .Nav-action {
    padding: 19px 13px;
  }
}

/**
 * Hint scrolling
 */

.Nav-inner {
  transition: transform 0.5s ease;
  will-change: transform;
}

.Nav.is-hintingScroll .Nav-inner {
  transform: translateX(-190px);
  transition-delay: 0.5s;
}

/**
 * Add blend modes
 */

html.with-blendModes .Nav {
  background: #fff;
  color: #000;
  mix-blend-mode: exclusion;
  z-index: 10;
}

html.with-blendModes .Nav:matches(::before, ::after) {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
}

html.with-blendModes .Nav:matches(:hover, .is-solid) {
  background: #000;
  color: #fff;
  mix-blend-mode: hard-light;
}

@media (--md-viewport) {
  html.with-blendModes .Nav:matches(:hover, .is-solid) {
    mix-blend-mode: luminosity;
  }
}

html.with-blendModes .Nav:hover:matches(::before, ::after),
html.with-blendModes .Nav.is-solid:matches(::before, ::after) {
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
}
