.PostList {
  color: var(--color-pink-dark);
  font-size: 0;
  text-align: center;
}

/**
 * Show more button
 */

.PostList-showMore {
  font-size: 32px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  display: block;
  margin: 40px auto;
  text-align: center;
  color: #fff;
  position: relative;
  font-family: var(--font-family-alt);
  color: var(--color-green-dark);
  -webkit-tap-highlight-color: transparent;
}

.PostList-showMore:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  background: var(--color-purple-alt);
  z-index: -1;
  top: 0;
  left: 0;
}

.PostList-showMore:hover,
.PostList-showMore:focus,
.PostList-showMore:active {
  color: var(--color-purple-alt);
  outline: 0;
}

.PostList-showMore:hover:before,
.PostList-showMore:focus:before,
.PostList-showMore:active:before {
  background: var(--color-green-dark);
}

.PostList-showMore:active {
  transform: scale(0.9);
}

.PostList-showMore.is-hidden {
  display: none;
}

/**
 * List title
 */

.PostList-title {
  margin: 50px 0 40px;
  color: var(--color-pink-dark);
}

@media (--sm-viewport) {
  .PostList-title {
    margin: 60px 0 50px;
  }
}

@media (--md-viewport) {
  .PostList-title {
    margin: 80px 0 70px;
  }
}

/**
 * Posts
 */

.PostList-item {
  font-size: 1rem;
  max-width: 330px;
  text-align: left;
  margin: 0 auto 3em;
  box-sizing: border-box;
}

.PostList-item.is-hidden {
  display: none;
}

.PostList-figure {
  margin-bottom: 1em;
  text-align: center;
}

.PostList-figure > img {
  width: auto;
  height: auto;
  max-width: 100%;
}

@media (--sm-viewport) {
  .PostList {
    margin: 40px 0;
  }

  .PostList-item {
    width: 50%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 0 17px 0 0;
  }

  .PostList-item:nth-child(even) {
    padding: 0 0 0 17px;
  }

  .PostList-figure {
    padding-bottom: 88%;
    position: relative;
  }

  .PostList-figure > img {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-height: 100%;
    transform: translateX(-50%);
  }
}


@media (--md-viewport) {
  .PostList-item {
    max-width: 350px;
    padding: 0 35px 0 0;
  }

  .PostList-item:nth-child(even) {
    padding: 0 0 0 35px;
  }
}

/**
 * Smaller version
 * -----------------------------------------------------------------------------
 */

.PostList--small {
  color: inherit;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.PostList--small .PostList-item {
  padding-left: 64px;
  position: relative;
  padding-right: 0;
  max-width: none;
}

@media (--md-viewport) {
  .PostList--small .PostList-item {
    padding-left: 70px;
    padding-right: 30px;
  }
}

.PostList--small .PostList-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #50a6ae;
}

/* Diamond */

.PostList--small .PostList-item:nth-child(2):before,
.PostList--small .PostList-item:nth-child(n+7):before {
  transform: rotate(45deg);
  top: 12px;
  left: 6px;
  width: 35px;
  height: 35px;
  background: var(--color-pink);
}

/* Skew */

.PostList--small .PostList-item:nth-child(3):before {
  transform: skew(45deg);
  height: 25px;
  width: 40px;
  left: 3px;
  top: 6px;
  background: var(--color-orange);
}

/* Arrow up */

.PostList--small .PostList-item:nth-child(4):before,
.PostList--small .PostList-item:nth-child(n+8):before {
  width: 0;
  height: 0;
  background: transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 27px solid var(--color-purple);
  left: -2px;
  top: 9px;
}

/* Arrow right */

.PostList--small .PostList-item:nth-child(5):before,
.PostList--small .PostList-item:nth-child(n+10):before {
  width: 0;
  height: 0;
  background: transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-left: 27px solid #80beab;
  left: 21px;
  top: 2px;
}

/* Arrow top right */

.PostList--small .PostList-item:nth-child(6):before,
.PostList--small .PostList-item:nth-child(n+9):before {
  width: 0;
  height: 0;
  background: transparent;
  border-left: 24px solid transparent;
  border-right: 37px solid #80beab;
  border-bottom: 37px solid transparent;
  left: -13px;
  top: 4px;
}

/**
 * Dark version
 */

.PostList--dark {
  background: #111;
  color: #fff;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
