.Section {

}

.Section-main {
  position: relative;
}

/**
 * Primary photo
 */

.Section-photo {
  max-width: 100%;
  max-height: 95vh;
  vertical-align: bottom;
  margin: 0 auto;
  display: block;
}

@media (--sm-viewport) {
  .Section-photo {
    margin: 0;
  }
}

/**
 * Footer
 */

.Section-footer {
  margin-top: 40px;
  text-align: left;
}

/**
 * Main/aside/action layout
 */

.Section-aside {
  text-align: center;
  margin-top: 30px;
}

.Section-asideFigure {
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.Section-asideFigure > img {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.Section-actionInline {
  /* action on narrow viewports */
  float: right;
  margin: 0 0 0 20px;
}

.Section-actionLarge {
  /* action on wide viewports */
  display: none;
}

@media (--sm-viewport) {
  .Section:not(.Section--full) .Section-main {
    width: 64%;
    float: left;
  }

  .Section-aside,
  .Section-actionLarge {
    width: 31%;
    float: right;
    margin-top: 72px;
    text-align: left;
  }

  .Section-actionInline {
    display: none !important;
  }

  .Section-actionLarge {
    margin-top: 150px;
    display: block;
  }
}

@media (--md-viewport) {
  .Section-aside {
    width: 24%;
  }

  .Section-actionLarge {
    margin-left: 4%;
  }
}

/**
 * Alternative main/aside/action layout
 */

.Section--altLayout .Section-aside {
  margin: 0;
}

@media (--sm-viewport) {
  .Section.Section--altLayout:not(.Section--full) .Section-main {
    width: 100%;
    float: none;
  }

  .Section--altLayout .Section-aside {
    width: 100%;
    text-align: center;
    float: none;
  }
}

@media (--md-viewport) {
  .Section.Section--altLayout:not(.Section--full) .Section-main {
    width: 64%;
    float: left;
  }

  .Section--altLayout .Section-aside {
    width: 30%;
    text-align: left;
    float: right;
    margin-top: 52px;
  }
}

/**
 *  One column, main only, layout
 */

.Section--full {
  max-width: 600px;
  margin: 0 auto;
}

@media (--md-viewport) {
  .Section--full {
    max-width: 600px;
    padding-right: 100px;
    margin: 0 auto;
  }
}
