.Section {
  margin-top: 5px;
}

@media (--md-viewport) {
  .Section {
    margin-top: 15px;
  }
}

.Section-main {
  position: relative;
}

/**
 * Primary photo
 */

.Section-photo {
  display: block;
  margin: 12px auto 0;
  max-height: 95vh;
  max-width: 100%;
  vertical-align: bottom;
}

@media (--sm-viewport) {
  .Section-photo {
    margin: 14px 0 -10px;
  }
}

/**
 * Footer
 */

.Section-footer {
  margin-top: 20px;
  text-align: left;
}

/**
 * Main/aside/action layout
 */

.Section-aside {
  margin-top: 30px;
  text-align: center;
}

.Section-asideFigure {
  margin-bottom: 20px;
  max-width: 100%;
  text-align: center;
}

.Section-asideFigure > img {
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
}

/* Action on narrow viewports */

.Section-actionInline {
  float: right;
  margin: 0 0 0 20px;
}

/* Action on wide viewports */

.Section-actionLarge {
  display: none;
}

@media (--sm-viewport) {
  .Section:not(.Section--full) .Section-main {
    float: left;
    width: 64%;
  }

  .Section-aside,
  .Section-actionLarge {
    float: right;
    margin-top: 72px;
    text-align: left;
    width: 31%;
  }

  .Section-actionInline {
    display: none !important;
  }

  .Section-actionLarge {
    display: block;
    margin-top: 150px;
  }
}

@media (--md-viewport) {
  .Section-aside {
    width: 24%;
  }

  .Section-actionLarge {
    margin-left: 4%;
  }
}

/**
 * Alternative main/aside/action layout
 */

.Section--altLayout .Section-aside {
  margin: 0;
}

@media (--sm-viewport) {
  .Section.Section--altLayout:not(.Section--full) .Section-main {
    float: none;
    width: 100%;
  }

  .Section--altLayout .Section-aside {
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media (--md-viewport) {
  .Section.Section--altLayout:not(.Section--full) .Section-main {
    float: left;
    width: 64%;
  }

  .Section--altLayout .Section-aside {
    float: right;
    margin-top: 52px;
    text-align: left;
    width: 30%;
  }
}

/**
 *  One column, main only, layout
 */

.Section--full {
  margin: 0 auto;
  max-width: 600px;
}

@media (--md-viewport) {
  .Section--full {
    margin: 0 auto;
    max-width: 600px;
    padding-right: 100px;
  }
}
