.Site {
  background: white;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
}

.Site * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.Site-body {
  background-color: #fff;
  isolation: isolate;
  overflow-x: hidden;
}

.Site-container {
  margin: 0 auto;
  max-width: 800px;
  width: 88%;
}

.Site-container--narrow {
  margin: 0 auto;
  max-width: 700px;
}

.Site-container--withRoomForNav {
  padding-top: 70px;
}

@media (--md-viewport) {
  .Site-container--withRoomForNav {
    padding-top: 100px;
  }
}
