.Site {
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 1.5;
  color: var(--color-text);
  background: white;
  width: 100%;
  overflow-x: hidden;
}

.Site-body {
  isolation: isolate;
  overflow-x: hidden;
  background-color: #fff;
}

.Site-container {
  width: 88%;
  max-width: 800px;
  margin: 0 auto;
}

.Site-container--narrow {
  margin: 0 auto;
  max-width: 700px;
}

.Site-container--withRoomForNav {
  padding-top: 70px;
}

@media (--md-viewport) {
  .Site-container--withRoomForNav {
    padding-top: 100px;
  }
}
