.Site {
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 1.5;
  color: var(--color-text);
  background: white;
}

.Site-body {
  isolation: isolate;
  overflow-x: hidden;
  background-color: #fff;
  padding-bottom: 150px;
}

.Site-container {
  width: 88%;
  max-width: 800px;
  margin: 0 auto;
}

.Site-container--narrow {
  margin: 0 auto;
  max-width: 700px;
}

.Site-aside {
  text-align: center;
  margin-top: 30px;
}

@media (--sm-viewport) {
  .Site-primary {
    width: 64%;
    float: left;
  }

  .Site-aside {
    width: 31%;
    float: right;
    margin-top: 72px;
    text-align: left;
  }
}

@media (--md-viewport) {
  .Site-aside {
    width: 24%;
  }
}
