:root {
  --Type-margin: 25px;
  --Type-margin-double: calc(var(--Type-margin) * 2);
}

.Type:not(.Type--plain) {
  padding: 30px 0;
}

@media (--sm-viewport) {
  .Type:not(.Type--plain) {
    padding: 45px 0;
  }
}

/**
 * Base typography
 * inherits from .Site component
 */

@media (--sm-viewport) {
  .Type {
    font-size: 18px;
  }
}

.Type .Type-preamble {
  letter-spacing: -1px;
  line-height: 1.3;

  font-family: var(--font-family-alt);
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (--sm-viewport) {
  .Type .Type-preamble {
    font-size: 27px;
    line-height: 1.4;
  }
}

/**
 * Prevent overflowing margins
 */

.Type > :first-child {
  margin-top: 0 !important;
}

.Type > :last-child {
  margin-bottom: 0 !important;
}


/* -------------------------------------------------------------------------- */

/**
 * Styled elements
 */

@custom-selector :--Type-block-elements
 blockquote, p, pre, img, video, iframe, embed, object, ul, ol, hr,
 h1, h2, h3, h4, h5, h6;

@custom-selector :--Type-sub-lists
  ul ul, ol ol, ul ol, ol ul;

/* Ignores any element with a descendant class (`Type-X`) */
@custom-selector :--Type-unspecified
  :not([class|="Type"]);

/* Links */

.Type a:--Type-unspecified {
  outline: 0;
  color: var(--color-link);
}

.Type a:--Type-unspecified:hover,
.Type a:--Type-unspecified:focus,
.Type a:--Type-unspecified:active {
  text-decoration: underline;
  color: var(--color-link);
}

.Type a:--Type-unspecified:active {
  color: color(var(--color-link) b(+ 25%));
}

/* Headings */

.Type h1:--Type-unspecified,
.Type h2:--Type-unspecified,
.Type h3:--Type-unspecified {
  font-family: var(--font-family-alt);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Type h1:--Type-unspecified {
  font-size: 44px;
  line-height: var(--Type-margin-double);
  letter-spacing: -1px;
}

.Type h2:--Type-unspecified {
  font-size: 33px;
  line-height: var(--Type-margin-double);
  letter-spacing: -1px;
}

.Type h3:--Type-unspecified {
  font-size: 23px;
  line-height: var(--Type-margin);
}

.Type h4:--Type-unspecified,
.Type h5:--Type-unspecified,
.Type h6:--Type-unspecified {
  font: inherit;
  font-weight: bold;
}

/* Block content elements */

.Type :--Type-block-elements:--Type-unspecified {
  max-width: 100%;
  margin: var(--Type-margin) 0;
}

/* Lists */

.Type ol:--Type-unspecified,
.Type ul:--Type-unspecified {
  padding-left: 2em;
  list-style: square;
}

.Type ol:--Type-unspecified {
  list-style: decimal;
}

.Type :--Type-sub-lists:--Type-unspecified {
  margin-bottom: 0;
}
