/**
 * Colors
 */

.u-colorWhite {
  color: #fff;
}

.u-colorGray {
  color: var(--color-gray);
}

.u-colorPurple {
  color: var(--color-purple);
}

.u-colorPurpleAlt {
  color: var(--color-purple-alt);
}

.u-colorTeal {
  color: var(--color-teal);
}

.u-colorBlue {
  color: var(--color-blue);
}

.u-colorGreen {
  color: var(--color-green);
}

.u-colorGreenLight {
  color: var(--color-green-light);
}

.u-colorPink {
  color: var(--color-pink);
}

.u-colorPinkDark {
  color: var(--color-pink-dark);
}

.u-colorYellow {
  color: var(--color-yellow);
}

.u-colorRed {
  color: var(--color-red);
}

.u-colorOrange {
  color: var(--color-orange);
}

/**
 * Display as link
 */

.u-blockLink,
.u-link {
  outline: 0;
}

.u-blockLink {
  display: block;
}

.u-link {
  text-decoration: underline;
}

.u-link:matches(:hover, :focus, :active),
.u-blockLink:matches(:hover, :focus, :active) .u-link {
  color: #111;
  outline: 0;
}

.u-link:active,
.u-blockLink:active .u-link {
  color: #999;
}

.u-linkOnDark:matches(:hover, :focus, :active),
.u-blockLink:matches(:hover, :focus, :active) .u-linkOnDark {
  color: #fff;
  outline: 0;
}

.u-linkOnDark:active,
.u-blockLink:active .u-linkOnDark {
  color: #999;
}

/**
 * Hide at breakpoint
 */

@media (--xs-viewport) {
  .u-xs-hide { display: none !important; }
}

@media (--sm-viewport) {
  .u-sm-hide { display: none !important; }
}

@media (--md-viewport) {
  .u-md-hide { display: none !important; }
}

@media (--lg-viewport) {
  .u-lg-hide { display: none !important; }
}

/**
 * Show at breakpoint
 */

@media (--xs-max-viewport) {
  .u-xs-show { display: none !important; }
}

@media (--sm-max-viewport) {
  .u-sm-show { display: none !important; }
}

@media (--md-max-viewport) {
  .u-md-show { display: none !important; }
}

@media (--lg-max-viewport) {
  .u-lg-show { display: none !important; }
}
