/**
 * Colors
 */

.u-colorPurple {
  color: var(--color-purple);
}

.u-colorTeal {
  color: var(--color-teal);
}

.u-colorBlue {
  color: var(--color-blue);
}

.u-colorGreen {
  color: var(--color-green);
}

.u-colorPink {
  color: var(--color-pink);
}

/**
 * Display as link
 */

.u-blockLink {
  display: block;
}

.u-link {
  outline: 0;
  text-decoration: underline;
}

.u-link:hover,
.u-link:focus,
.u-link:active,
.u-blockLink:hover .u-link,
.u-blockLink:focus .u-link,
.u-blockLink:active .u-link {
  outline: 0;
  color: #111;
}

.u-link:active,
.u-blockLink:active .u-link {
  color: #999;
}

/**
 * Hide at breakpoint
 */

@media (--xs-viewport) {
  .u-xs-hide { display: none !important; }
}

@media (--sm-viewport) {
  .u-sm-hide { display: none !important; }
}

@media (--md-viewport) {
  .u-md-hide { display: none !important; }
}

@media (--lg-viewport) {
  .u-lg-hide { display: none !important; }
}

/**
 * Show at breakpoint
 */

@media (--xs-max-viewport) {
  .u-xs-show { display: none !important; }
}

@media (--sm-max-viewport) {
  .u-sm-show { display: none !important; }
}

@media (--md-max-viewport) {
  .u-md-show { display: none !important; }
}

@media (--lg-max-viewport) {
  .u-lg-show { display: none !important; }
}
