/**
 * Wordpress wysiwyg utils
 */

.alignleft,
.alignright {
  height: auto !important;
  margin: 7px 13px 0 !important;
  max-height: 201px !important;
  max-width: 152px !important;
  width: auto !important;
}

.alignleft {
  float: left !important;
  margin-left: 0 !important;
}

.alignright {
  float: right !important;
  margin-right: 0 !important;
}
