@import url("http://fonts.googleapis.com/css?family=Asul:400|Karla:400,400italic,700,700italic");

/* Base */

@import "normalize.css";
@import "prepare.css";

/* Components */

@import "components/banner";
@import "components/banner-logo";
@import "components/blog";
@import "components/button";
@import "components/calendar";
@import "components/colored-section";
@import "components/event";
@import "components/expander";
@import "components/footer";
@import "components/form";
@import "components/icon-section";
@import "components/nav";
@import "components/post-list";
@import "components/section";
@import "components/share";
@import "components/range";
@import "components/site";
@import "components/swoosh";
@import "components/type";
@import "components/knowledge";

/* Utilities */

@import "suitcss-utils-display";
@import "suitcss-utils-layout";
@import "suitcss-utils-size";
@import "suitcss-utils-text";
@import "utilities/misc";
@import "utilities/wysiwyg";

/* Global props */

:root {
  --color-blue: #160768;
  --color-blue-strong: #0020a2;
  --color-gray: #dedede;
  --color-green: #13936c;
  --color-green-light: #95d386;
  --color-orange: #e65a4b;
  --color-pink: #f194bd;
  --color-pink-dark: #a35196;
  --color-purple: #493b6f;
  --color-purple-alt: #6a2b6d;
  --color-red: #98030a;
  --color-teal: #237d81;
  --color-text: #333;
  --color-yellow: #e6fe9c;
  --color-diplomering-primary: #f6892a;
  --color-diplomering-secondary: #383635; /* #454342 */

  --font-family: "Karla", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  --font-family-alt: "Asul", "Karla", "Verdana", "Geneva", "sans-serif";
}

/* Breakpoints */

@custom-media --xs-viewport (width >= 330px);

@custom-media --sm-viewport (width >= 460px);

@custom-media --md-viewport (width >= 760px);

@custom-media --lg-viewport (width >= 1000px);

@custom-media --xl-viewport (width >= 1260px);

@custom-media --xs-max-viewport (width <= 329px);

@custom-media --sm-max-viewport (width <= 459px);

@custom-media --md-max-viewport (width <= 759px);

@custom-media --lg-max-viewport (width <= 999px);

@custom-media --xl-max-viewport (width <= 1259px);
