.Site {
  isolation: isolate;
  overflow-x: hidden;
  background-color: #fff;
}

.Site-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

@media (--sm-viewport) {
  .Nav {
    width: 95%;
  }
}