.Site {
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 1.5;
  color: var(--color-text);
  background: white;
}

.Site-body {
  isolation: isolate;
  overflow-x: hidden;
  background-color: #fff;
  padding-bottom: 150px;
}

.Site-container {
  width: 88%;
  max-width: 800px;
  margin: 0 auto;
}

.Site-content {
  padding: 30px 0;
}

.Site-content--center {
  margin: 0 auto;
  max-width: 700px;
}

@media (--sm-viewport) {
  .Site-content {
    padding: 42px 0;
  }
}
